.profile-container {
  max-width: 1000px;
  margin: 0 auto;
}

.profile {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.profile-header {
  position: relative;
}

.background-image {
  width: 100%;
  height: 280px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.profile-image {
  position: absolute;
  bottom: -10px;
  left: 100px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 3px solid #fff;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.username {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

.bio {
  margin-top: 10px;
  font-size: 20px;
}

.profile-posts {
  padding: 20px;
}

.posts-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.post {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.post-image {
  width: 100%;
  height: auto;
}

.post-details {
  padding: 10px;
}

.post-title {
  font-size: 16px;
  font-weight: bold;
}

.post-author {
  font-size: 14px;
  color: #888;
}

.post-description {
  font-size: 14px;
}
