button {
  margin: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #24232380;
  text-shadow: none;
  background: transparent;
  cursor: pointer;
  box-shadow: transparent;
  border: 1px solid #383838;
  transition: 0.5s ease;
  user-select: none;
}

button:hover {
  color: #ffffff;
  background: #4c4d4e;
  border: 1px solid #4c4d4e;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  box-shadow: 0 0 5px #4c4d4e, 0 0 50px #4c4d4e;
}

.red {
  border: 1px solid #e74521;
}

.red:hover {
  background: #e74521;
  border: 1px solid #e74521;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  box-shadow: 0 0 5px #e74521, 0 0 50px #e74521;
}

.green {
  border: 1px solid #2fc22c;
}

.green:hover {
  background: #2fc22c;
  border: 1px solid #2fc22c;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  box-shadow: 0 0 5px #2fc22c, 0 0 50px #2fc22c;
}

.blue {
  border: 1px solid #008cff;
}

.blue:hover {
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff;
  box-shadow: 0 0 5px #008cff, 0 0 50px #008cff;
}
